# Database
DATABASE_URL="postgresql://openquantum:CHANGE_ME@localhost:5432/openquantum"
POSTGRES_USER=openquantum
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=openquantum

# Analytics
NEXT_PUBLIC_GA4_ID=G-MQSQN0G2EB
NEXT_PUBLIC_GA4_STREAM_ID=15219501907

# Site
NEXT_PUBLIC_SITE_URL=https://openquantum.id
